body{
    margin: 0;
    background-color: #fcfaf2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    height: 125px;
    background-color: rgb(254, 254, 235);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 1px 2px 10px rgb(112, 112, 112);
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 65px;
    align-items: center;
    margin-right: 20px;
}
nav a{
    font-weight: 500;
    text-decoration: underline;
    padding-right: 25px;
    padding-left: 20px;
    font-size: 16pt;
    font-family: 'Poppins', sans-serif;
}
.Nombre-hamburgueseria{
    font-size: 25pt;
}
footer{
    background-color: rgb(230, 223, 207);
    height: 150px;
    box-shadow: 0px -1px 3px rgb(112, 112, 112);
    margin-top: auto;
}
.redestexto{
    display: flex;
    color: #707070;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}
.redes-sociales{
    display: flex;
    justify-content: center;
}
.redes-sociales i{
    font-size: 30px;
    padding: 0px 20px;
}
.copy{
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-size: 10pt;
}
.titulo{
    text-align: center;
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
}
#Texto-quienes-somos{
    font-family: 'Roboto', sans-serif;
    padding: 40px;
    text-align: center;
    font-size: 15pt;
    line-height: 30pt;
}
.glider-contain{
    padding: 30px;
    max-width: 600px;
}
.glider-prev,
.glider-next {
    display: block;
    width: 30px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
}
.glider{
    overflow: hidden;
}
.redes-socialesc{
    display: flex;
    justify-content: center;
}
.redes-socialesc i{
    font-size: 50px;
    padding: 0px 60px;
    cursor: pointer;
}
.redes-socialesc i:hover{
    transition: 0.3s ease;
    color: #515151;
}
.secundarionb{
    text-align: center;
    padding: 40px;
    margin: 30px;
    font-family: 'Inter', sans-serif;
    color: #707070;
    font-size: 23pt;
    font-weight: 200;
}
form {
    width: 450px;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
}
input, textarea{
    width: 500px;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}
textarea{
    min-height: 150px;
    max-height: 150px;
    min-width: 500px;
    max-width: 500px;
}
#send{
    background-color: #E6DFCF;
    font-family:'Inter', sans-serif;
    font-weight: bold;
    color: black;
    padding: 20px;
    border: none;
}
#send:hover{
    cursor: pointer;
    transition: 0.5s ease all;
    background-color: #695C3F;
    color: #ffff;
}
.containerizq{
    background-color: #e6e3cf;
    padding: 30px;
    margin-top: 70px;
    box-shadow: 1px 2px 10px rgb(112, 112, 112);
    display: flex;
}
#nuevaham .containerizq{
    background-color: #fef3e4;
    margin-bottom: 100px;
}
#Mejores-vistas .containerizq img{
    max-width: 400px;
    border-radius: 10px;
}
.subtitulo{
   font-family: 'Inter', sans-serif;
   font-size: 20pt;
   color: #2A2929;
}
.texto{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin-right: 40px;
}
#nuevaham .containerizq img{
    max-width: 300px;
    border-radius: 10px;
}
#pampeana .containerizq img{
    max-width: 300px;
    border-radius: 10px;
}
#clasica .containerizq img{
    max-width: 350px;
    border-radius: 10px;
}
#rustica .containerizq img{
    max-width: 350px;
    border-radius: 10px;
    margin-left: 150px;
}
#vegana .containerizq img{
    max-width: 300px;
    border-radius: 10px;
}
#casa .containerizq img{
    max-width: 300px;
    border-radius: 10px;
}
#artesanal {
    padding-top: 30px;
    padding-bottom: 30px;
}
#clasica .containerizq {
    background-color: #fef3e4;
}
#clasica .subtitulo{
    margin-left: 40px;
}
#clasica .texto{
    margin-right: none;
    margin-left: 40px;
}
#rustica .containerizq{
    background-color: #e6dfcf;
}
#vegana .subtitulo{
    margin-left: 40px;
}
#vegana .texto{
    margin-right: none;
    margin-left: 40px;
}
#casa .containerizq{
    background-color: #fef3e4;
}
@media (max-width:1080px) {
    header{
        height: 80px;
    }
    .logo img{
        height: 50px;
    }
    .Nombre-hamburgueseria{
        font-size: 20pt;
    }
    nav a{
        font-size: 14pt;
    }
    .subtitulo{
        font-size: 16pt;
    }
    .texto{
        font-size: 14pt;
    }
    .titulo{
        font-size: 13pt;
    }
}
@media (max-width:915px) {
    header{
        height: 70px; 
    }
    .logo img{
        height: 50px;
    }
    .Nombre-hamburgueseria{
        display: none;
    }
    nav a{
        font-size: 14pt;
    }
}
@media (max-width:700px) {
    header{
        height: 60px; 
    }
    .logo img{
        height: 35px;
    }
    .Nombre-hamburgueseria{
        display: none;
    }
    nav a{
        font-size: 11pt;
        padding-left: 1;
        padding-right: 0;
    }
    .subtitulo{
        font-size: 12pt;
    }
    .texto{
        font-size: 9pt;
    }
    .titulo{
        font-size: 12pt;
    }
    #Mejores-vistas .containerizq img{
        width: 150px;
        height: 130px;
    }
    #nuevaham .containerizq img{
        width: 160px;
        height: 150px;
        margin-top: 20px;
    }
    #pampeana .containerizq img{
        width: 160px;
        height: 150px;
    }
    #clasica .containerizq img{
        width: 150px;
        height: 140px;
        margin-top: 30px;
    }
    #rustica .containerizq img{
        margin-left: 0;
        width: 180px;
        height: 150px;
        margin-top: 10px;
    }
    #vegana .containerizq img{
        width: 160px;
        height: 150px;
        margin-top: 30px;
    }
    #casa .containerizq img{
        width: 160px;
        height: 150px;
        margin-top: 30px;
    }
    .copy{
        font-size: 8pt;
    }
    #Texto-quienes-somos{
        font-size: 12pt;
    }
    .glider-next{
        display: none;
    }
    .glider-prev{
        display: none;
    }
    .glider-contain{
        max-width: 400px;
        padding: 10px 0 ;
    }
    form{
        padding: 0;
        width: 300px;
        height: 400px;
        margin: 0;
        margin-bottom: 60px;
    }
    input, textarea{
        width: 350px;
        margin-left: 40px;
    }
    label{
        margin-left: 40px;
    }
    textarea{
        min-height: 150px;
        max-height: 150px;
        min-width: 300px;
        max-width: 400px;
    }
}
@media (max-width:400px) {
    header{
        height: 60px; 
    }
    .logo img{
        height: 35px;
    }
    .Nombre-hamburgueseria{
        display: none;
    }
    nav a{
        font-size: 10pt;
        padding-left: 1;
        padding-right: 0;
    }
    .subtitulo{
        font-size: 10pt;
    }
    .texto{
        font-size: 9pt;
    }
    .titulo{
        font-size: 9pt;
    }
    #Mejores-vistas .containerizq img{
        width: 140px;
        height: 120px;
        margin-top: 20px;
    }
    #nuevaham .containerizq img{
        width: 140px;
        height: 130px;
        margin-top: 40px;
    }
    #pampeana .containerizq img{
        width: 140px;
        height: 130px;
        margin-top: 30px;
    }
    #clasica .containerizq img{
        width: 120px;
        height: 110px;
        margin-top: 55px;
    }
    #rustica .containerizq img{
        margin-left: 0;
        width: 150px;
        height: 120px;
        margin-top: 20px;
    }
    #vegana .containerizq img{
        width: 130px;
        height: 120px;
        margin-top: 40px;
    }
    #casa .containerizq img{
        width: 140px;
        height: 130px;
        margin-top: 50px;
    }
    .copy{
        font-size: 7pt;
    }
    #Texto-quienes-somos{
        font-size: 11pt;
        line-height: 20pt;
    }
    .glider-next{
        display: none;
    }
    .glider-prev{
        display: none;
    }
    .glider-contain{
        max-width: 350px;
        padding: 10px 0 ;
    }
    form{
        padding: 0;
        width: 200px;
        height: 400px;
        margin: 0;
        margin-bottom: 60px;
    }
    input, textarea{
        width: 300px;
        margin-left: 40px;
    }
    label{
        margin-left: 40px;
    }
    textarea{
        min-height: 150px;
        max-height: 150px;
        min-width: 300px;
        max-width: 300px;
    }
}
@media (max-width:361px) {
    nav a{
        font-size: 9pt;
    }
}